    
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/01 - Projeto Aluno/build/
/01 - Projeto Estoque/build/
/01 - Projeto Herança/build/
/02 - Projeto Aluno/build/
/02 - Projeto Login/build/
/02 - Projeto PokemonGO/build/